{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
  {% if movie %}
  <h1>Edit {{ movie.title }}</h1>
  {% else %}
  <h1>Add a Movie</h1>
  {% endif %}
  <img src="{% static 'images/directorChair.png' %}" alt="Director's chair doodle" />
</div>
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
