{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/movies/movie-detail.css' %}" />
{% endblock %} {% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/movieSlate.png' %}" alt="Movie card" class="movieCard"/>
  </div>
  <div class="cat-details">
    <h1>{{ movie.title }}</h1>
    <h2>Release Year: {{ movie.year }}</h2>
    <div class="movieDescrip">
      <p>{{ movie.description }}</p>
    </div>
      <div class="movieDescrip">
     <p>Genre: {{ movie.get_genre_display }}</p>
    </div>
    <div class="movieDescrip">
    <p>Rating: {{ movie.rating }}</p>
    </div>

    <div class="cat-actions">
      <a href="{% url 'movie-update' movie.id%}" class="btn warn">Edit</a>
      <a href="{% url 'movie-delete' movie.id%} " class="btn danger">Delete</a>
    </div>
  </div>
</section>




<!-- Existing cat-container above -->
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Actors</h2>
    </div>
    <h3>Add an Actor</h3>
<!-- Add just above the feedings table -->
<form action="{% url 'add-actor' movie.id %}" method="post" class="subsection-content" autocomplete="off">
  {% csrf_token %} 
  {{ actor_form.as_p }}
  <button type="submit" class="btn submit">Add Actor</button>
</form>

<h3>Cast</h3>
{% if movie.actor_set.all.count %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        {% for actor in movie.actor_set.all %}
          <tr>
            <td>{{ actor.name }}</td>
            <td>{{ actor.role }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="subsection-content">
    <p>⚠️ {{ movie.title }} has no cast yet!</p>
  </div>
{% endif %}
  </section>
</div>

{% endblock %}
