{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/movies/movie-detail.css' %}" />
{% endblock %} {% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/movieSlate.png' %}" alt="Movie card" class="movieCard"/>
  </div>
  <div class="cat-details">
    <h1>{{ movie.title }}</h1>
    <h2>Release Year: {{ movie.year }}</h2>
    <div class="movieDescrip">
      <p>{{ movie.description }}</p>
    </div>
      <div class="movieDescrip">
     <p>Genre: {{ movie.get_genre_display }}</p>
    </div>
    <div class="movieDescrip">
    <p>Rating: {{ movie.rating }}</p>
    </div>

    <div class="cat-actions">
      <a href="{% url 'movie-update' movie.id%}" class="btn warn">Edit</a>
      <a href="{% url 'movie-delete' movie.id%} " class="btn danger">Delete</a>
    </div>
  </div>
</section>
{% endblock %}
