{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/movies/movie-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Movie List</h1>
</section>

<section class="card-container">
  {% for movie in movies %}
  <div class="card">
    <a href="{% url 'movie-detail' movie.id %}">
    <div class="card-content">
      <div class="card-img-container">
        <img
          src="{% static 'images/movieCard.png' %}"
          alt="A movie card" class="movieCard"
        />
      </div>
      <h2 class="card-title">{{ movie.title }}</h2>
      <p>A {{ movie.genre }} movie</p>
      <p>Release Year: {{ movie.year }}</p>
    </div>
  </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
